body {
    margin: 0;
    font-family: Arial;
    background: #f7f3ea;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STATUS */
.card {
    width: 95%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff4d4d;
    color: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
}
.card.green { background: #69db7c; }

.left { display:flex; gap:10px; align-items:center; }

.circle {
    width:10px;
    height:10px;
    border-radius:50%;
    background:white;
}

/* SCREENS */
#screens-container {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:5px;
    margin-top:10px;
}

.screen {
    width:49%;
    object-fit:contain;
    border-radius:10px;
}

@media(max-width:600px){
    .screen { width:100%; }
}

/* JOYSTICK */
#joystick {
    width:140px;
    height:140px;
    background:#ddd;
    border-radius:50%;
    position:fixed;
    bottom:20px;
    left:20px;
}

#stick {
    width:60px;
    height:60px;
    background:#333;
    border-radius:50%;
    position:absolute;
    left:40px;
    top:40px;
}
